<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DevGenius | Criação de sites, manutenção e sistemas.</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>DevGenius | Criação de sites, manutenção e sistemas.</title>
    <meta name="description" content="A Development Genius é uma empresa nova localizada em Barueri buscando espaço no mercado de tecnologia.
    								  Atendemos grande parte da região de São Paulo oferecendo diversos serviços para seus computadores e redes,
                                       desenvolvendo sistemas que auxiliem na rotina de trabalho e criando sites que divulguem a sua empresa.
                                       Nosso principal foco é a realização de serviços de boa qualidade, com preços justos e acima de tudo que
                                       atenda a todas as necessidades de nossos clientes. Desejamos desenvolver uma nova estrutura empresarial
                                       baseado na cooperatividade e nos tornar referencia no mercado de tecnologia utilizando as mais recentes novidades a nosso favor.">
    <meta name="author" content="David Pereira">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="format-detection" content="telephone=yes">
    <meta name="keywords" content="devgenius, sites, desenvolvimento, sistemas, manutenção, programação">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-111706918-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-111706918-1');
    </script>
    
    <link href="https://fonts.googleapis.com/css?family=Roboto|Roboto+Condensed" rel="stylesheet">
    <link rel="stylesheet" href="~/Content/bootstrap.min.css?v=@DateTime.Now.Ticks" />
    <link rel="stylesheet" href="~/Content/site.css?v=@DateTime.Now.Ticks" />
    <link rel="stylesheet" href="~/Content/bootstrap-social.css?v=@DateTime.Now.Ticks" />
    <link rel="stylesheet" href="~/Content/assets/css/font-awesome.css?v=@DateTime.Now.Ticks" />
    <link rel="icon" href="~/navicon.png" type="image/png">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js?v=@DateTime.Now.Ticks"></script>
    <script src="https://unpkg.com/scrollreveal/dist/scrollreveal.min.js"></script>
</head>
<body>
    @RenderBody()
    <script src="~/Scripts/main.js?v=@DateTime.Now.Ticks"></script>
</body>
</html>
