
@{
    ViewBag.Title = "Home";
}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.0/jquery-confirm.min.css">

<div class="load">
    <div class="container">
        <div class="row">
            <div class="col-md-5 col-md-offset-3">
                <img class="logo-loading img-responsive" src="~/img/logo/logo_g.png" />
            </div>
        </div>
    </div>
</div>
<div class="content content-hide">
    <main>
        <header>
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <div class="logo clearfix">
                            <a href="/Home/"><img src="~/img/logo/logo-210x216.png" alt="DevGenius" /></a>
                        </div>
                        <div class="main-menu clearfix">
                            <nav>
                                <ul>
                                    <li><a href="#empresa">Sobre</a></li>
                                    <li><a href="#servicos">Serviços</a></li>
                                    <li><a href="#contato">Contato</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </header>

        <div class="corpo">
            <div class="container subCorpo">
                <div class="empresa" id="empresa">
                    <div class="row">
                        <div class="tituloPrincipal col-lg-12 col-md-12 col-sm-12">
                            <h3>Sobre</h3>
                        </div>
                    </div>
                    <div class="row empresa-sobre">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <article>
                                <div class="texto-empresa">
                                    A <b>Development Genius</b> é uma empresa nova localizada em Barueri buscando espaço no mercado de tecnologia. <br />
                                    Atendemos grande parte da região de São Paulo oferecendo diversos serviços para seus computadores e redes,
                                    desenvolvendo sistemas que auxiliem na rotina de trabalho e criando sites que divulguem a sua empresa. <br />
                                    Nosso principal foco é a realização de serviços de boa qualidade, com preços justos e acima de tudo
                                    que atenda a todas as necessidades de nossos clientes. <br />
                                    Desejamos desenvolver uma nova estrutura empresarial baseado na cooperatividade e nos tornar referencia no
                                    mercado de tecnologia utilizando as mais recentes novidades a nosso favor.
                                </div>
                            </article>
                        </div>
                    </div>
                </div>
                <div class="servicos" id="servicos">
                    <div class="row">
                        <div class="tituloPrincipal col-lg-12 col-md-12 col-sm-12">
                            <h3>Serviços</h3>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3 servicos-container clearfix">
                            <nav>
                                <ul>
                                    <li class="active"><a href="#desenSites">Criação de Sites</a></li>
                                    <li><a href="#manutencao">Manutenção e configuração</a></li>
                                    <li><a href="#desenvolvimento">Desenvolvimento de sistemas</a></li>
                                </ul>
                            </nav>
                        </div>
                        <div class="servicos-box">
                            <!-- DIV DESENVOLVIMENTO DE SITES -->
                            <article>
                                <div id="desenSites" class="servicos-active col-sm-8 clearfix">
                                    <h3>Criação de Sites</h3>
                                    <p>
                                        <img class="empresario-grafico img-responsive" src="~/img/empresario-grafico.png" />
                                        Qualquer empresa hoje em dia necessita de um site. Em um mundo onde a tecnologia cresce exponencialmente
                                        passamos a maioria do nosso tempo online, visitando sites e comprando.
                                        Porém o mais importante nisso é a comunicação com o seu cliente, mantendo o mesmo bem informado e expor
                                        novidades, produtos, serviços e etc.<br />
                                        A <b>Development Genius</b> vêm como um parceiro para auxilia-lo na criação de um site com informações
                                        claras e objetivas, onde você poderá acessar de qualquer dispositivo com alta reponsividade, interatividade e
                                        acima de tudo uma ferramenta que seja útil, fácil e atraente para seus clientes.
                                    </p>
                                    <h4>Vantagens em ter um site</h4>
                                    <ul>
                                        <li>
                                            Aumenta a exposição dos seus produtos e serviços, permitindo que consumidores de todo o mundo o conheçam.
                                            Com a utilização das ferramentas de busca, como o Google, entre outros, o seu negócio
                                            poderá ser pesquisado por milhares de pessoas.
                                        </li>
                                        <li>
                                            Apresenta a sua empresa, de forma dinâmica, moderna e bastante profissional. Clientes futuros e atuais
                                            terão acesso aos seus contatos, tais como e-mail, telefone e endereço, de forma rápida e simples.
                                        </li>
                                        <li>
                                            É uma poderosa ferramenta de marketing: serve como vitrine para um negócio ou serviços. Para quem já
                                            está consolidado no mercado, serve como currículo eletrônico e ajuda a valorizar a sua marca.
                                            Tudo isto sem limites geográficos: qualquer interessado, em qualquer lugar do mundo, poderá conhecer os seus produtos e serviços.
                                        </li>
                                        <li>
                                            Redução muito significativa de custos em relação a outros meios de publicidade. Certamente o melhor
                                            investimento publicitário e de divulgação que poderá fazer hoje em dia com o número de internautas sempre a aumentar.
                                        </li>
                                        <li>
                                            Mantém a sua empresa contatável 24 horas por dia, todos os dias da semana. Milhares de consumidores
                                            podem estar procurando os seus serviços ou produtos, nos mais variados horários, inclusive em feriados e
                                            fins de semana disponibilizando um contato permanente 24 horas por dia através de e-mail ou formulário de contato dinâmico.
                                        </li>
                                        <li>
                                            Permite criar meios versáteis e econômicos para lançar produtos e conduzir pesquisas de mercado.
                                            O seu catálogo pode ser alterado frequentemente a baixo custo.
                                        </li>
                                    </ul>
                                </div>
                            </article>
                            <!-- DIV MANUTENÇÃO E CONFIGURAÇÃO -->
                            <article>
                                <div id="manutencao" class="col-sm-8 clearfix">
                                    <h3>Manutenção e configuração</h3>
                                    <p>Prestamos diversos tipos de serviços voltados a informática, presencial, telefone e remotamente.</p>
                                    <img class="laptop img-responsive" src="~/img/laptop.png" />
                                    <ul>
                                        <li>Formatação e Reinstalação de Sistemas</li>
                                        <li>Detecção e Remoção de Vírus e Spywares</li>
                                        <li>Otimização de espaço em disco</li>
                                        <li>Manutenção e Configuração de Outlook</li>
                                        <li>Recuperação de Dados</li>
                                        <li>Conserto de Notebooks</li>
                                        <li>Instalação de Acessórios e Periféricos</li>
                                        <li>Instalação e Configuração de Computadores Novos</li>
                                        <li>Projetamos uma Rede a partir do zero</li>
                                        <li>Instalação e Manutenção de Redes com cabeamento</li>
                                        <li>Instalação, Manutenção e Configuração de Rede Wireless</li>
                                        <li>Configuração de Roteador</li>
                                        <li>Programação de Backup para Redes</li>
                                        <li>Configuração de Estações e Usuários</li>
                                    </ul>
                                </div>
                            </article>
                            <article>
                                <div id="desenvolvimento" class="col-sm-8 clearfix">
                                    <h3>Desenvolvimento de sistemas</h3>
                                    <p>
                                        Desenvolvemos, implantamos e sustentamos aplicações robustas, escaláveis e performáticas tendo como foco a
                                        experiência do usuário e os resultados de negócio esperados. São sistemas desenvolvidos para execução em um
                                        navegador na internet ou em redes privadas como a intranet. Usamos processos de inovação, tecnologia e
                                        conhecimento do negócio para a criação de produtos digitais que colocam nossos clientes em um novo patamar de mercado.
                                    </p>
                                </div>
                            </article>
                        </div>
                    </div>
                </div>
                <!-- FORMULARIO DE CONTATO -->
                <div class="contato">
                    <div class="row">
                        <div class="tituloPrincipal col-lg-12 col-md-12 col-sm-12">
                            <h3>Contato</h3>
                        </div>
                    </div>
                    <div class="contato-corpo col-md-12">
                        <form id="contato" method="post" action="">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="nome">Nome</label>
                                        <input type="text" class="form-control" id="nome" name="nome" required />
                                    </div>
                                    <div class="form-group">
                                        <label for="email">E-mail</label>
                                        <input type="email" class="form-control" id="email" name="email" required />
                                    </div>
                                    <div class="form-group">
                                        <label for="tel">Telefone</label>
                                        <input type="tel" class="form-control" id="tel" name="tel" pattern="[0-9]{10,20}$" required placeholder="DDD + Telefone" />
                                    </div>
                                </div>
                                <div class="col-md-6 right-contato">
                                    <div class="form-group">
                                        <label for="msg">Mensagem</label>
                                        <textarea class="form-control" id="msg" name="msg" rows="8" required></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-1">
                                    <div class="form-group">
                                        <button type="submit" class="btn btn-success">Enviar</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <footer>
        <div class="container">
            <div class="row">
                <div class="endereco col-sm-5">
                    <p>
                        DEVGENIUS @DateTime.Now.Year <br />Rua Iara 15, Pq dos Camargos, Barueri - SP
                        <br /> Tel. 11 2680-1014
                        <br /> Cel. 11 96468-5433 <img src="~/img/whatsapp.png" />
                    </p>
                    @*<p>
                        <a class="btn btn-social-icon btn-sm btn-facebook" href="https://www.facebook.com/DevGenius-256431341362311/?fref=ts" target="_blank">
                            <span class="fa fa-facebook"></span>
                        </a>
                        <a class="btn btn-social-icon btn-sm btn-twitter" href="https://twitter.com/DevGenius16" target="_blank">
                            <span class="fa fa-twitter"></span>
                        </a>
                    </p>*@
                </div>
                <div class="fbk col-sm-7">
                    <div class="fb-page" data-href="https://www.facebook.com/DevGeniusx/" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/DevGeniusx/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/DevGeniusx/">DevGenius Sites, Manutenção e Sistemas</a></blockquote></div>
                </div>
            </div>
        </div>
    </footer>
</div>
<a href="javascript:void(0)" class="cd-top">Top</a>
<div id="fb-root"></div>

<script src="~/Scripts/contato/contato.js?v=@DateTime.Now.Ticks"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.0/jquery-confirm.min.js"></script>
<div id="fb-root"></div>
<script>
    (function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = 'https://connect.facebook.net/pt_BR/sdk.js#xfbml=1&version=v2.11';
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
</script>